
// Color
$main-color: #387187;
$second-color: #d76b54;
$accent-color: #D7B154;
$main-color-dark: #10475C;
$main-color-light: #8DB5C5;
$accent-color-light: #FCDA87;
$white: #FBFCFD;
$overlay: rgba(56, 113, 135, 0.3);
$overlay-dark: rgba(16, 71, 92, 0.3);
$round-gradient: radial-gradient(circle, #10475c, #134b61, #174f65, #1a546a, #1d586f, #205c72, #245f76, #276379, #2b667c, #306a80, #346d83, #387187);

// Padding
$margin-top: 64px;
$margin-bottom: 64px;

// Font
@mixin font ($size, $weight) {
    font-family: "ivysoft-variable", sans-serif;
    line-height: 180%;
    font-size: $size;
    font-weight: $weight;
}

@mixin font-anim ($line, $size, $weight) {
    font-family: "ivysoft-variable", sans-serif;
    line-height: $line;
    font-size: $size;
    font-weight: $weight;
}

// Card
$border-card: 10px;
$card-bg: rgba(215, 177, 84,0.4);
$card-border-color: rgba(215, 177, 84,0.5);
$paddin-card: 16px 32px;
$padding-big-card: 64px 32px;


@mixin card ($width) {
    width: $width;
    border-radius: $border-card;
    border: 4px solid $accent-color;
    background-color: $white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: $transition;
    padding: $paddin-card;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

// FLexbox
@mixin flex ($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// Button
@mixin border-button {
    border: none;
    border-radius: 50px;
}
$padding-button: 16px 32px;
$padding-button-little: 4px 8px;

// Transitions
$transition: all 0.3s ease-in-out;

// Keyframes
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes title-anim {
    0% {
        margin-top: 0;
    }
    12.5% {
        margin-top: -88px;
    }
    25% {
        margin-top: -176px;
    }
    37.5% {
        margin-top: -264px;
    }
    50% {
        margin-top: -352px;
    }
    62.5% {
        margin-top: -264px;
    }
    75% {
        margin-top: -176px;
    }
    87.5% {
        margin-top: -88px;
    }
    100% {
        margin-top: 0;
    }
}

// Responsive
$breakpoint-mobile: 768px;
$breakpoint-tablette: 1024px;
@mixin responsive-tablette {
    @media (max-width: $breakpoint-tablette) { 
        @content;
    }
}
@mixin responsive-mobile {
    @media (max-width: $breakpoint-mobile) { 
        @content;
    }
}
